@font-face {
    font-family: 'GloryMigella';
    src: url('Font/glory_migella_regular-webfont.woff2') format('woff2'),
         url('Font/glory_migella_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

*{
    background: transparent;
}

html{
    background-color: rgb(209, 143, 222);
}

body {
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    min-height: 100vh;
    margin: 0;
    font-family: 'GloryMigella';
    color: white;
    
}   

.center h1 {
    position: absolute;
    x: center;
    font-size: 72px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.center #box {
    position:absolute;
    box-sizing: border-box;
    width: 98.5vw;
    height: 98vh;
    border: 2px white;
    border-style: solid;
    margin-bottom: 2vh;
}


    
